<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fcodex.talaa">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".Singleton.LastVisitLocationSingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Talaa"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activities.VarificationActivity" />
        <activity android:name=".Activities.CreateAccountActivity" />
        <activity android:name=".Activities.LoginActivity"/>
        <activity android:name=".CategoryItems.RestaurantCategoryItemsActivity" />
        <activity android:name=".CategoryItems.PlacesCategoryItemsActivity" />
        <activity android:name=".City.CityPlaceRestaurantFullViewActivity" />
        <activity android:name=".City.CityPlacesAndRestaurantActivity" />
        <activity android:name=".SettingActivities.PrivacyPolicyActivity" />
        <activity android:name=".SettingActivities.FaqActivity" />
        <activity android:name=".SettingActivities.ContactUsActivity" />
        <activity android:name=".NavigationActivities.SettingActivity" />
        <activity android:name=".NavigationActivities.LastVisitLocationActivity" />
        <activity android:name=".NavigationActivities.SuggestedPlacesActivity" />
        <activity android:name=".PlacesAndRestaurantCategory.PlacesCategoriesActivity" />
        <activity android:name=".PlacesAndRestaurantCategory.RestaurantCategoriesActivity" />
        <activity android:name=".NavigationActivities.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>